 

<table class="w-100 list-users table ">
<thead class="text-secondary">
  <tr>
    <th class="pl-0">Name</th>
    <th>Status</th>
    <th>Follow</th>
  </tr>
</thead>
  <% @users.each do |user| %>
    <tr class="" user_id="<%= user.id %>">
      <td class="pl-0">
       <%= render 'shared/avatar_username', user:user %>
      </td>
      <td>
        <%= render(partial: 'status/status', locals:{user:user}) %>
      </td>
      <td>
        <% if user.id != current_user.id %>
          <span><%= render(partial: 'follows/form_follow', locals:{user: user}) %></span>
        <% else %>
          <em>Current user</em>
        <% end  %>
      </td>
    </tr>
  <% end %>
</table>
<br>
<%== pagy_bootstrap_nav(@pagy) %>
