<div class="container">
  
    <div class="" user_id="<%= @user.id %>">
      <div>
        <h2 class="d-inline">Profile</h2>
        <%if @user == current_user %>
          <a href="<%= edit_user_path %>">Edit Profile</a>
          <a href="<%= change_password_path %>">Change Password</a>
        <% end %>
      </div>
      <div class="d-flex align-items-center">
        <strong class="d-inline mr-2">ID: <%= @user.id %></strong>
        <%= render(partial: 'status/status', locals:{user:@user}) %>
      </div>
      <p>
        <strong>Avatar:</strong>
        <% if @user.avatar.attached? %>
          <img src="<%= url_for(@user.avatar) %>" alt="Avatar" class="avatar">
        <% end %>
      </p>
      <p>
        <strong>Name:</strong>
        <%= @user.name %>
      </p>
      <p>
        <strong>Username:</strong>
        <%= @user.username %>
      </p>
      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
      <div>
        <div class="d-inline-block">
          <a href="<%= user_following_path(@user) %>" class="" data-remote="true" data-type="script">
            <div id="count_following-<%= @user.id %>"><%= @user.following.count %></div>
            <div>following</div>
          </a>
        </div>
        <div class="d-inline-block ml-2">
          <a href="<%= user_followers_path(@user) %>" class="" data-remote="true" data-type="script">
            <div id="count_followers-<%= @user.id %>"><%= @user.followers.count %></div>
            <div>followers</div>
          </a>
        </div>
        <% if @user.id !=  current_user.id%>
          <%= render(partial:'form_follow')%>
        <% end %>
      </div>
      <div class="mt-5" id="follow">
      </div>
    </div>
    <div class="">
      <h2>Posteds</h2>
      <div id="list_posts">
        <%= render 'posts/list_posts' %>
      </div>
    </div>
  
</div>
