<div class="container">
  <div class="row">
    <div class="col user-<%= @user.id %>">
      <h2>Profile</h2>
      <div class="d-flex align-items-center">
        <strong class="d-inline">ID: <%= @user.id %></strong>
        <div class="d-inline-flex align-items-center justify-content-center ml-2">
          <span class="icon-status <%= @user.online ? 'online' : 'offline' %>"></span>
        </div>
        
      </div>
      <p>
        <strong>Name:</strong>
        <%= @user.name %>
      </p>
      <p>
        <strong>Username:</strong>
        <%= @user.username %>
      </p>
      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
      <div>
        <div class="d-inline-block">
          <a href="<%= following_user_path(@user) %>" class="" data-remote="true" data-type="script">
            <div id="count_following-<%= @user.id %>"><%= @user.following.count %></div>
            <div>following</div>
          </a>
        </div>
        <div class="d-inline-block ml-2">
          <a href="<%= followers_user_path(@user) %>" class="" data-remote="true" data-type="script">
            <div id="count_followers-<%= @user.id %>"><%= @user.followers.count %></div>
            <div>followers</div>
          </a>
        </div>
        <% if @user.id !=  current_user.id%>
          <%= render(partial:'form_follow')%>
        <% end %>
      </div>
      <div class="mt-5" id="follow">
      </div>
    </div>
    <div class="col">
      <h2>Posteds</h2>
      <div id="list_posts">
        <a href="<%= posts_user_path(@user)%>" id="get_posts" data-remote="true" data-type="script">abc</a>
        <script>
          $(document).ready(function(){
            $('#get_posts')[0].click();
          })
        </script>
      </div>
    </div>
  </div>
</div>
