 <% avatar = user.avatar.attached? ? user.avatar : nil%>
 <% size ||= 'sm'%>
 <% style_textname ||= nil %>
<a href="<%= user_path(user) %>" class="d-inline-flex align-items-center text-decoration-none">
  <% if avatar %>
    <img src="<%= url_for(avatar) %>" alt="" class="avatar-<%= size %>">
  <% else %>
    <i class="fas fa-user-circle fa-<%= size=='sm' ? '2x' : '3x' %> text-secondary"></i>
  <% end%>
  <span class="name-user ml-2 text-truncate d-inline-block" style="<%= style_textname %>"><%= user.name %></span>
</a>


