<ul class="posts">
  <%@posts.each do |post| %>
    <li id="post-<%= post.id %>">
      <span class="user"><%= link_to post.user.name, post.user %></span>
      <span class="content"><%= post.content %></span>
      <em class="d-block">
        Posted <%= time_ago_in_words(post.created_at) %> ago.
      </em>
    </li>
  <% end%>
</ul>
<%== pagy_bootstrap_nav(@pagy) %>
