<!DOCTYPE html>
<html>
  <head>
    <title>skynet13</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" type="image/png" href="/assets/favicon-16.png"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/b9d450b891.js" crossorigin="anonymous"></script>

  <body>
   
    <%= content_for?(:content) ? yield(:content) : yield %>
  
  </body>
</html>
