  <% content_for :content do %>
  <body class="home-body">
  <nav class="navbar navbar-expand-md navbar-light fixed-top " name="navbar">
    <div class="container">
      
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-5"> 
        <li class="nav-item">
          <a class="<%= active_button(newsfeed_path) ? 'btn btn-dark active' : 'btn btn-outline-dark text-white border-0'%>" 
             href="<%= newsfeed_path%>">Newsfeed
          </a>
        </li>
        <li class="nav-item ml-1" id="current-user" data-user-id="<%= current_user.id %>">
          <a class="<%= active_button(user_path(current_user)) ? 'btn btn-dark active' : 'btn btn-outline-dark text-white border-0'%>"
           href="<%= user_path(current_user)%>">My Profile</a>
        </li>
        <li class="nav-item ml-1">
          <a class="<%= active_button(users_path) ? 'btn btn-dark active' : 'btn btn-outline-dark text-white border-0'%>"
           href="<%= users_path%>">All Users</a>
        </li>
      </ul>
        <form action="<%= search_users_path %>" method="get" class="form-inline mt-2 mt-md-0">
         
          <span class="mr-2 badge badge-dark p-2">Search by: </span>
          <div class="form-check-inline">
            <label class="form-check-label text-light">
              <input type="radio" class="form-check-input" 
                     name="field" value="name" checked="checked"
                     style="color:gray"
                     >name
            </label>
          </div>
          <div class="form-check-inline disabled">
            <label class="form-check-label text-light">
              <input type="radio" class="form-check-input" name="field" value="email">email
            </label>
          </div>
          <input type="text" class="form-control mr-sm-2" placeholder="Enter string to search" id="value" name="value">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a data-confirm="Are you sure?" data-method="delete" href="<%=destroy_user_session_path %>" 
            class="btn btn-outline-dark nav-link text-white border-0">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main role="main" class="row h-100 mt-3 mr-0 ml-0 pb-4">
    <div class="col-3 d-flex">
      <div class="left-menu d-flex flex-column pl-5 mt-2">
        <a href="<%= edit_user_path(current_user) %>" class="ml-2 text-dark 
            <%= active_button(edit_user_path(current_user)) ? 'bg-white' : nil %>" >
          <i class="far fa-id-card fa-lg mr-2" style="color: #4267b2"></i>
          <span>Edit Profile</span>
        </a>
        <a href="<%= change_password_path %>" class="ml-2 text-dark mt-2
          <%= active_button(change_password_path) ? 'bg-white' : nil %>" >
          <i class="fas fa-key fa-lg mr-2" style="color: #4267b2"></i>
          <span>Change Password</span>
        </a>
      </div>
    </div>
    <div class="col-6">
      <%= yield %>
    </div>
    <div class="col-3 h-100">
      <%= render 'layouts/chat' %>
    </div>
  </main>
  <body>
<% end %>
<%= render template: "layouts/application"%>
